*.deb
*.tar.gz
*.dsc
*.changes
*.buildinfo

*/debian/tmp*
*/debian/files
*/debian/*.substvars
*/debian/.debhelper

prerequisites/*-*
*/build
*/build_*
*/binutils
*/debian/binutils-*/
*/gcc
*/debian/gcc-*/
*/gdb
*/debian/gdb-*/
*/newlib
*/debian/libnewlib*/
*/debian/newlib-*/

*-stamp
**/stamp
*.log

*~
*.*~
.*.swp

