Source: gcc-microblaze-bootstrap
Section: devel
Priority: extra
Maintainer: Max A. Dednev <mdednev@yandex.ru>
Build-Depends:
 autoconf2.64,
 autogen,
 autotools-dev,
 binutils-microblaze,
 bison,
 debhelper (>= 8.0.0),
 dh-autoreconf,
 dejagnu,
 flex,
 gawk,
 gettext,
 libgmp-dev,
 libmpc-dev,
 libmpfr-dev,
 libtool,
 locales,
 lsb-release,
 lzma,
 m4,
 patchutils,
 sharutils,
 texinfo,
 xz-utils,
 zlib1g-dev
Standards-Version: 3.9.5
Homepage: http://gcc.gnu.org/
X-Python-Version: >= 2.7

Package: gcc-microblaze-bootstrap
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, binutils-microblaze
Description: Bootstrap GCC cross compiler for Microblaze processors
 Bare metal bootstrap compiler for embedded Microblaze processors.
